.project-details-container {
	display: flex;
	position: fixed;
	flex-direction: row;
	top: 0;
	left: 0;
	z-index: 100;
	background: rgba(0, 0, 0, 0.9);
	height: max-content;
	max-width: 100%;
	height: 100%;
	width: 100%;
	overflow-y: auto;
}
/* .project-details-box {
	filter: blur(4px);
} */

.gallery-slider-container {
	/* display: flex; */
	width: 100%;
	position: relative;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: var(--small-font-size);
}

.gallery-slider-circle-active,
.gallery-slider-circles button:hover,
.circular-Button:hover {
	filter: brightness(150%);
	transition: filter ease-in-out 0.3s;
}
.project-details {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	background-color: var(--color-light);
	justify-self: center;
	padding: 1rem;
	width: 50%;
	/* height: 100%; */
}

.project-header {
	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: start;
	margin-bottom: 2rem;
	/* color: black; */
}
.project-logo-img {
	/* margin: 0 0 0.5rem 0; */
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: var(--card-border-radius);
	background-color: var(--color-white);
	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.gallery-project-title {
	margin: 0 0 0.5rem 1rem;
}

.project-description {
	margin: 0;
}
@media (width < 640px) {
	.project-details {
		width: 100%;
	}
	.project-details-container {
		/* width: 100%; */
		/* display: none; */
		flex-direction: column;

		width: 100%;
	}
	.project-logo-img {
		width: 100px;
		height: 100px;
	}

	.gallery-slider-middle-section {
		height: calc(100vh - 100px);
	}
	.gallery-slider-circles button {
		width: 24px;
		height: 24px;
	}
	circular-Button-no-hover,
	.circular-Button,
	.project-buttons a {
		width: 24px;
		height: 24px;
	}
}
.close-button {
	position: absolute;
	left: 1rem;
	top: 1rem;
}

.back-button {
	position: absolute;
	top: 50%;
	left: 1rem;
}

.forward-button {
	position: absolute;
	top: 50%;
	right: 1rem;
}

@media (max-width: 992px) {
	.back-button,
	.forward-button {
		position: absolute;
		bottom: 4rem;
	}
}

.gallery-slider-container svg {
	height: 1.25rem;
	fill: white;
}

.gallery-slider-middle-section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: calc(100vh - 100px);
}

.gallery-slider-circles {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.75rem;
}

.gallery-slider-circles button {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background-color: var(--color-primary);
	display: inline-block;
	cursor: pointer;
}

.gallery-slider-middle-section img {
	height: calc(100vh - 100px);
	z-index: -1;
	border-radius: var(--card-border-radius);
}

.hide {
	display: none;
}

.show {
	display: block;
}

.loader {
	border: 6px solid #f3f3f3;
	border-top: 6px solid var(--color-primary);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.bottom-section {
	/* position: absolute;
	bottom: 1rem; */
	padding: 20px 0;
	display: flex;
	flex-wrap: wrap;
}
